*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/src/node_modules
/src/public/build
/src/public/hot
/src/public/storage
/src/storage/*.key
/src/storage/pail
/src/storage/api-docs/
/src/storage/logs/
/src/bootstrap/cache/
/src/vendor
Homestead.json
Homestead.yaml
Thumbs.db
